// COLORS
$main: #a52f2f;
$white: #ffffff;
$letter: #474747;
$letter2: #808080c9;
$black: #000000;
$shadow: #6969699a;
$grey: #69696983;
$red: #ff00003b;
$buttonNo: #4169e1d8;
$error: #4169e1;

// OTHER
$base-size: 12px;
$transition: all 0.5s;
